<!-- app/views/bookmarks/new.html.erb -->

<h1>New Bookmark</h1>

<%= render 'form', bookmark: @bookmark %>

<%= link_to 'Back', list_path(@list) %>


<%= simple_form_for @bookmark do |f| %>
  <%= f.input :movie_id, collection: Movie.all, label: 'Select a Movie' %>
  <%= f.input :comment, label: 'Comment' %>
  <%= f.button :submit %>
<% end %>

